.slide-container {
  white-space: pre-line;
  min-height: 100%;
  margin-top: 2vw;
}

.slide-container img {
  width: 50vw;
  min-height: calc(40vw - 80px);
  object-fit: cover;
}

.slide-container div {
  margin: 0;
  padding: 5vw;
  font-family: Verdana, sans-serif;
  font-size: 1vw;
}

.slide-container iframe {
  width: 50vw;
  min-height: calc(40vw - 80px);
}